/* styles.css */

.event {
  box-sizing: border-box;
}


.event-form{
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 100;  
  display: none;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #4285f4;
  color: white;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.calendar {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.calendar th {
  background-color: #f1f1f1;
  padding: 10px;
  background: linear-gradient(to bottom, #5f9dff 0%, #0dd140 100%);
}

.calendar .weekend {
  background-color: #f9f9f9;
}

.calendar td:hover {
  background-color: rgba(66, 133, 244, 0.1);
  cursor: pointer;
}

.calendar td.active {
  background-color: #4285f4;
  color: white;
}

.cell-wrapper {
  width: 100%;
  height: 100px;
  position: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-wrap: nowrap;
  justify-content: center;
  display: grid;
  align-content: space-between;
  grid-row-gap: 18px;
  justify-items: center;
  align-items: center;
  scrollbar-gutter:both-edges;
  overflow:auto
}


.day {
  position: sticky;  /* Make it sticky */
  top: 0;  /* Stick to the top */
  background: white;  /* Background to overlay content */
  z-index: 2;
}

.event {
  position:relative;  /* Changed */
  display: -webkit-inline-box;
  top: 10px;  /* Positioned for centering */
  font-size: 12px;
  color: white;
  border-radius: 5px;
  max-height: 60px;  /* Changed */
  text-align: center;
  padding: 4px;
  overflow: hidden;   /* Hide overflow content */
  text-overflow: ellipsis;  /* Indicate cut-off text with '...' */
  white-space: nowrap;  /* Text in a single line */
  max-width: 70%;  /* Set the max-width */
  box-sizing: border-box; /* To account for padding and border */
  justify-content: center;
}

.calendar td {
  border: 1px solid #ccc;
  width: 75px;
  max-width: 75px;
  height: 100px;  /* This height will be the default size of the day cell */
  position: relative;
}

.event:hover {
  outline: 2px solid #4285f4;
}

.event:active {
  outline: none;
}

.event.footer {
  align-content: space-between;
  min-height: 20px;
  text-align: center;
  font-weight: bold;
  margin: 4px;
  font-size: 10px;
}

#current-day {
  background: linear-gradient(to bottom, #5f9dff 0%, #0dd140 100%);
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  font-weight: bold;
  color: white;
  width: 100%;
  height: 60px;
  line-height: 62px;
  font-size: 20px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
}
